body
{
    font-family: 'Josefin Sans', Semi-bold 600;
    background: #ffa500;
}
.header_div
{
background:white;
color:#ce2700;
}
.header_div img
{
width: 100px
}
.main_div
{
    background:#FF8C00;
    padding: 10px;
    margin-top: 15px;
    border:3px solid white;
}

.main_div label
{
    background:white;
    width: 310px;
    padding:10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera
{
    border:2px solid white;
    height:300px;
    box-shadow: 5px 5px 18px white;
}

.main_div button
{ 
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}
.fooster_div h4
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.fooster_div img
{
    width: 70px;
}
.copy_right_fooster {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%; 
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
}
#camera , #result { 
    border: 2px solid white;
     width: 310px;
     height: 300px;
     box-shadow: 5px 5px 18px white;
     }
